*{
    color:white;
}
.homeContainer::-webkit-scrollbar {
  width: 8px;            
}

.homeContainer::-webkit-scrollbar-track {
  background: #888;      
  border-radius: 10px;
}

.homeContainer::-webkit-scrollbar-thumb {
  background-color: #fff;  
  border-radius: 10px;
  border: 2px solid #888;
}

/* Optional: on hover */
.homeContainer::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}


.home {
    height: 64vh;
    width: 70vw;
    background-color: rgb(140, 136, 202);
    padding: 10px;
}

.inbox {
    color: rgb(209, 202, 202);
    font-size: 0.97rem;
}
.homeContainer{
     max-height: 57vh;
    overflow-y: auto;
     scrollbar-width: thin;
  scrollbar-color: white #888; 
  
}
.homeitem{
    margin-top: 12px;
    margin-right: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 7px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.first-part{
   display:flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sec-part{
   display:flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.circle{
       border: 1px solid white;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
    font-size: 1.7rem;
}
.delete{
background: transparent;
border:none;
cursor: pointer;
}
.done{
background-color: transparent;
border:none;
cursor: pointer;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}