* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    flex-direction: column;
}

.container{
    overflow: hidden;
border-radius: 12px;
}


.topContainer {
    padding: 10px;
    color: rgb(5, 36, 36);
    /* background-color: rgb(120, 139, 133); */
    height: 25vh;
    width: 70vw;
    background-image: url("../src/images/mteverest3.jpg");
    /* filter: blur(0.7px); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bottomContainer {
     padding: 10px;
    background-color: rgb(147, 175, 81);
    height: 64vh;
    width: 70vw;
}