@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dabee5;
    flex-direction: column;
}

.container {
    overflow: hidden;
    border-radius: 12px;
}


.topContainer {
    position: relative;
    padding: 0px 22px 15px 15px;
    color: rgb(5, 36, 36);
    /* background-color: rgb(120, 139, 133); */
    height: 25vh;
    width: 70vw;
    background-image: url("../src/images/mteverest3.jpg");
    /* filter: blur(0.7px); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bottomContainer {

    background-color: rgb(147, 175, 81);
    height: 64vh;
    width: 70vw;
}

.headBottom {
    margin: 12px;
    font-size: 0.7rem;
    font-weight: 100;
    color: aliceblue;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 10px 15px;
    margin-top: 13px;
}

.heading {
    font-size: 2rem;
    color: aliceblue;
    line-height: 28px;
}

.count {
    color: aliceblue;
    font-weight: 200;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.name {
    font-size: 0.7rem;
}

@media screen and (max-width: 883px) {
 
    .topContainer {
        width: 90vw;
        height: 30vh;
    }

    .bottomContainer {
        width: 90vw;
        height: 60vh;
    }

    .bottom {
        width: 90vw;
        height: 60vh;

    }

    .home {
        width: 90vw;
        height: 60vh;
    }

}

@media screen and (max-width: 500px) {
    .container {
        border-radius: 0px;
    }

    .topContainer {
        width: 100vw;
        height: 40vh;
    }

    .bottomContainer {
        width: 100vw;
        height: 60vh;
    }

    .bottom {
        width: 100vw;
        height: 60vh;

    }

    .home {
        width: 100vw;
        height: 60vh;
    }

    .submit {
        margin-top: 12px;
        width: 100px
    }
}

@media screen and (max-width:380px) {
    ul {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        gap: 2vh;
        padding-right: 1rem;
        font-size: 0.8rem;
        flex-direction: column;
        position: fixed;
        top: 0px;
        padding-top: 4vh;
        /* right: -50vw; */
        padding-bottom: 2vh;
        border-radius: 15px;
        width: 50vw;
        background: #000000a9;
        transition: all 0.8s ease-in-out;

    }

    .menu-icon {
        display: block;
        position: absolute;
        right: -4px;
        top: 10px;
        cursor: pointer;
        z-index: 1000;
    }

}

@media screen and (max-width:287px) {
    .personal {
        display: none;
    }

    .business {
        display: none;
    }
    

}

@media screen and (min-width:380px) {
    .menu-icon {
        display: none;
    }

}

@media screen and (max-height :867px) {
    .form span {
        margin: 0px;
    }

    .submit {
        margin-top: 5vh;
    }
}