*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{


}
.topContainer{
    color: aqua;
height: 25vh;
background-image: url("/Doozie-a-taskflow-web-app-/Doozie/src/images/Machhapuchre2.jpg");
}
.bottomContainer{
height: 75vh;
}